body{
    font-family:'Fredoka', sans-serif;;
}
.cabecalho{
    border-bottom: 1px solid #d5d5d5;
}
.largura-limitada {
    width: 800px;
    margin: 0 auto;
}
h1{
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}
.topo{
    background-image: url("capa.jpg");
    background-size: cover;
    min-height: 500px;
}
h2, h3, h4{
    margin: 0;
    font-weight: bold;
}
.topo-conteudo{
    text-align: right;
    padding: 50px 20px;
}
.secao-conteudo{
    padding: 50px 20px;
}
.img-conteudo{
    width: 250px;
    height: 180px;
}
span{
    border-left: 1px solid;
    padding-left: 10px;
    font-size: 20px;
}
.background-divisao{
    background-image: url("fundo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.atuacao, .contato{
    font-size: 36px;
    font-weight: bold;
    background-color: #fff;
    width: 200px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    
}
